@import "../Components/Footer/Footer.scss";
@import "../Components/Navbarre/Navbarre.scss";
@import "../Components/Card/Card.scss";
@import "../Components/Hero/Hero.scss";
@import "../Components/FormSign/FormSign.scss";
@import "./transaction.scss";
@import "../Components//ModifyProfil//ModifyProfil.scss";
html, body, .App, #root{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}
  
  main {
    flex: 1 1;
    min-height: 100%;
  }
  
  .bg-dark {
    background-color: #12002b;
    height: 780px;
    padding-top: 50px;
  }
  
.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important; /* 2 */
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important; /* 3 */
  }
  

